@charset "utf-8";
/* CSS Document */
body{
	font-size: 16px;
	color:#fff;
	background-color: lightcoral;
	text-align: center;
	
}
a img{
	width:140px;
	height: 140px;
	
}
.col-md-3 img{
	margin-top: 100px;
	
}

@media (max-width:768px){
	
	.pg{
		margin-top: -70px;
	}
}
@media (max-width:575px){
	
	.ag{
		margin-top: -70px;
	}
    img{
		width: 80%!important;
		height: 220px!important;
	}
}
@media (max-width:350px){
	
	
    img{
		width: 80%!important;
		height: 140px!important;
	}
}

